@import '../../../../UI/theme.css';

.rawEditor-- {
  &rawWrapper {
    position: relative;
  }

  &rawEditor {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    min-height: var(--richTextEditorMinHeight);
    font-family: var(--fontFamilyMono);
  }
}
