@import '../../../../UI/theme.css';

.visualEditor-- {
  &editorControlBar {
    z-index: 1;
    border: 2px solid transparent;
    border-top: 0;
    background-color: var(--controlBGColor);
  }

  &editorControlBarSticky {
    border-color: var(--textFieldBorderColor);
  }

  &wrapper {
    position: relative;
  }

  &editor {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    min-height: var(--richTextEditorMinHeight);
    font-family: var(--fontFamily);
  }

  &editor h1 {
    font-size: 32px;
    margin-top: 16px;
  }

  &editor h2 {
    font-size: 24px;
    margin-top: 12px;
  }

  &editor h3 {
    font-size: 20px;
    margin-top: 8px;
  }

  &editor h4 {
    font-size: 18px;
    margin-top: 8px;
  }

  &editor h5,
  &editor h6 {
    font-size: 16px;
    margin-top: 8px;
  }

  &editor h1, &editor h2, &editor h3, &editor h4, &editor h5, &editor h6 {
    font-weight: 700;
    line-height: 1;
  }

  &editor p,
  &editor pre,
  &editor blockquote,
  &editor ul,
  &editor ol {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &editor a {
    text-decoration: underline;
  }

  &editor hr {
    border: 1px solid;
    margin-bottom: 16px;
  }

  &editor li > p {
    margin: 0;
  }

  &editor ul,
  &editor ol {
    padding-left: 30px;
  }

  &editor pre {
    white-space: pre-wrap;
  }

  &editor pre > code {
    display: block;
    width: 100%;
    overflow-y: auto;
    background-color: #000;
    color: #ccc;
    border-radius: var(--borderRadius);
    padding: 10px;
  }

  &editor code {
    background-color: var(--backgroundColorShaded);
    border-radius: var(--borderRadius);
    padding: 0 2px;
    font-size: 85%;
  }

  &editor blockquote {
    padding-left: 16px;
    border-left: 3px solid var(--backgroundColorShaded);
    margin-left: 0;
    margin-right: 0;
  }

  &editor table {
    border-collapse: collapse;
  }

  &editor td,
  &editor th {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }

  &shortcode {
    border: 2px solid black;
    padding: 8px;
    margin: 2px 0;
    cursor: pointer;
  }

  &shortcodeSelected {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
  }
}
