@import '../theme.css';

/* redux-notifications override */
.notif__container {
  z-index: 10000;
}

:root {
  --iconSize: 30px;
}

.toast-- {
  &root {
    overflow: hidden;
    margin: 10px;
    padding: 10px 10px 15px;
    color: var(--defaultColorLight);
  }

  &icon {
    position: relative;
    top: .15em;
    margin-right: .25em;
    font-size: var(--iconSize);
    line-height: var(--iconSize);
  }

  &info {
    background-color: var(--infoColor);
  }

  &success {
    background-color: var(--successColor);
  }

  &warning {
    background-color: var(--warningColor);
  }

  &danger {
    background-color: var(--errorColor);
  }
}
